ul {
    padding-left : 35px;
}

ul li {
    list-style-type: square;
    padding-top: 3px;
    padding-bottom: 3px;
}

ol li {
    font-size:small;
    color:cornflowerblue;
}
ol li div{
    color: black;
}