ul {
    padding-left : 35px;
}

ul li {
    list-style-type: square;
    padding-top: 3px;
    padding-bottom: 3px;
}

ol li {
    font-size:small;
    color:cornflowerblue;
}
ol li div{
    color: black;
}

.solidBorder{
    border-style: solid;
    border-width: 2px;
    border-color:black;
    min-width: 200px;
}

.placeCenter{
    display:flex;
    justify-content: center;
    align-items: center;
}

.placeRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.memoryCell{
    height : 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sFont{
    font-size:small;
    padding:3px;
}